
<div class="container">
    <header class="jumbotron">
        
            <div class="container">
             <h1>MyVehicles Are Here </h1>
             <p></p>
             <p> 
                <button class="btn btn-primary btn-lg" type="submit"  (click)="myVehicle()">My Vehicles</button>
             </p>   
         </div>
    </header>
<div >
    <table align="center" border="1" width="100%">
        <thead>
            <tr>
                <th>Type</th>
                <th>Registration number</th>
                <th>Picture</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody *ngFor="let vehicle of vehicles">
            <tr>
                <td>{{ vehicle.type }}</td>
                <td>{{ vehicle.reg }}</td>
                <td><img width="300" src="{{ vehicle.pic }}"></td>
                <td>{{ vehicle.color }}</td>
            </tr>
        </tbody>
    </table>

    
    

</div>