<div class="container">
    <header class="jumbotron">

        <div class="container">
            <h1>My Vehicles Are Here </h1>
                        
        </div>
    </header>
    <div>
        <table border="1" width="100%">
            <thead>
                <tr align="center">
                    <th>Type</th>
                    <th>Registration number</th>
                    <th>Picture</th>
                    <th>Color</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody *ngFor="let vehicle of vehicles">
                <tr align="center">
                    <td>{{ vehicle.type }}</td>
                    <td>{{ vehicle.reg }}</td>
                    <td>
                        <img width="300" src="{{ vehicle.pic }}">
                    </td>
                    <td>{{ vehicle.color }}</td>
                    <td>
                        <button class="btn btn-primary" (click)="onEditVehicle(vehicle._id)">Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="onDeleteVehicle(vehicle._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>




    </div>