<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
    <div class="jumbotron">

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    
            <h1 align="center">List of Vehicles</h1>
            <div align="center">
                <button type="submit" class="btn btn-primary" (click)="allVehicles()">Click to see All Vehicles Informations</button>
                <!-- <section class="main">
                    <br>       
                    <input
                            (keyup)="searchTerm$.next($event.target.value)">
                        
                        <ul *ngIf="results">
                          <li *ngFor="let result of results | slice:0:9">
                            <a href="{{ result.latest }}" target="_blank">
                              {{ result.name }}
                            </a>
                          </li>
                        </ul>
                </section> -->
            </div>
    </div>
    </div>
    </div>

                <hr>
                <div>
                    <table align="center" border="1" class="w3-table-all w3-hoverable">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Register Number</th>
                                <th>Picture</th>
                                <th>Color</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vehicle of vehicles">
                                <td>{{ vehicle.type }}</td>
                                <td>{{ vehicle.reg }}</td>
                                <img width="300" src="{{ vehicle.pic}}">
                                <td>{{ vehicle.color }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
    </div>
</body>

</html>