<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h2 align="center" class="page-header">Add Vehicle...!!!</h2>
        <form [formGroup]="addvehicleForm" (ngSubmit)="onAddvehicle()">

          <label for="type">Type</label>
          <div class="form-group">
            <select class="form-control" formControlName="type">
              <option>Car</option>
              <option>Bike</option>
              <option>Cycle</option>
              <option>Others..</option>
            </select>
            <span *ngIf="!addvehicleForm.get('type').valid && addvehicleForm.get('type').touched">
              <b style="color : red">Please enter vehicle</b>
            </span>
          </div>

          <label for="reg">Registration Number</label>
          <div class="form-group">
            <input type="text" placeholder="GJ-27-7879 " formControlName="reg" class="form-control">
            <span *ngIf="!addvehicleForm.get('reg').valid && addvehicleForm.get('reg').touched">
              <b style="color : red">Please enter vehicle Registration number</b>
            </span>
          </div>

          <label for="pic">Picture of Vehicle</label>
          <div class="form-group">
            <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="uploadvehicle($event)" formControlName="pic" class="form-control">
          </div>

          <label for="color">Color</label>
          <div class="form-group">
            <select class="form-control" formControlName="color">
              <option>Black</option>
              <option>White</option>
              <option>Silver</option>
              <option>Others..</option>
            </select>
            <span *ngIf="!addvehicleForm.get('color').valid && addvehicleForm.get('color').touched">
              <b style="color : red">Please enter vehicle color</b>
            </span>
          </div>

          <div class="form-group">
            <input class="btn btn-primary btn-lg btn-block" [disabled]="!addvehicleForm.valid" type="submit" value="Add">
          </div>

          <div class="form-group">
              <input class="btn btn-primary btn-lg btn-block" type="button" (click)="onCancel()" value="Cancel">
            </div>


        </form>
      </div>
    </div>
  </div>
</body>

</html>