<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <div class="container">
                <div *ngFor="let feed of feeds">
                    <div>
                        <img width="300" src="{{ feed.feedImg }}">
                    </div>
                    <div>
                        <h4>
                            <b>{{ feed.feed }}</b>
                        </h4>
                    </div>
                    <form [formGroup]="feedDataForm">
                        <div class="formGroup">
                            <input type="text" class="formControl" formControlName="comment">

                            <button type="button" class="glyphicon glyphicon-thumbs-up btn btn-primary" [disabled]="submitClicked" (click)="onLike(feed._id)"></button>
                            <button class="btn btn-primary" (click)="onComment(feed._id)">Comment</button>
                        </div>
                    </form>
                    <hr>

                    <div *ngFor="let feed of feed.comment">
                        <div>
                            <h5>
                                <b>{{ feed.comment}}</b>
                            </h5>
                        </div>
                    </div>

                    <div *ngFor="let like of feed.like">
                        <div>
                            <h5>
                                <b>{{ like.userId.first_name }}</b>
                            </h5>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>