<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <div class="container">
                <div *ngFor="let feed of feeds">
                    <div>
                        <img  width="300" src="{{ feed.feedImg }}">
                    </div>
                    <div>
                        {{ feed.feed}}
                    </div>
                    <form [formGroup]="feedDataForm">
                        <div class="formGroup">
                            <input type="text" class="formControl" formControlName="comment">

                            <button class="glyphicon glyphicon-thumbs-up btn btn-primary">Like</button>
                            <button class="btn btn-primary" (click)="onComment()">Comment</button>
                        </div>
                    </form>

                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>